openapi: 3.0.1
info:
  title: Targon Chat Models API
  description: 'OpenAI-compatible REST API for Targon, the decentralized AI inference platform operated as Bittensor Subnet 4 by Manifold Labs. Inference is produced by a marketplace of miners running OpenAI-compliant endpoints and verified by validators. The public surface follows the OpenAI API shape: chat completions, legacy text completions, model listing, image generation, and search. All requests are authenticated with a Bearer API key.'
  termsOfService: https://targon.com
  contact:
    name: Targon Support
    url: https://docs.targon.com
  version: '1.0'
servers:
- url: https://api.targon.com/v1
  description: Targon OpenAI-compatible inference base URL.
security:
- bearerAuth: []
tags:
- name: Models
  description: List models available on Targon.
paths:
  /models:
    get:
      operationId: listModels
      tags:
      - Models
      summary: List models
      description: Lists the models currently available on Targon. The catalog can be extended permissionlessly by the community.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /models/{model}:
    get:
      operationId: retrieveModel
      tags:
      - Models
      summary: Retrieve a model
      description: Retrieves metadata for a single model by id.
      parameters:
      - name: model
        in: path
        required: true
        description: The id of the model to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Model not found.
components:
  schemas:
    Model:
      type: object
      properties:
        id:
          type: string
          description: The model identifier.
          example: deepseek-ai/DeepSeek-R1
        object:
          type: string
          example: model
        created:
          type: integer
        owned_by:
          type: string
          example: targon
    ListModelsResponse:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Model'
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            type:
              type: string
            code:
              type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Targon API key passed as a Bearer token in the Authorization header: `Authorization: Bearer $TARGON_API_KEY`.'
